Host dev
     HostName dev.crazypanda.ru
     User v.melnichenko

Host pre
     HostName pre.dev.crazypanda.ru
     User v.melnichenko

Host ec2micro
     Hostname ec2-18-219-191-110.us-east-2.compute.amazonaws.com
     User ubuntu
     IdentityFile ~/.ssh/ec2micro.pem

Host pandaGW
     Hostname     sshgw.crazypanda.ru
     Port         20036
     User         v.melnichenko

Host bard
     Host         bard
     ProxyCommand ssh -A -q pandaGW
     User         v.melnichenko
Host percy
     Host         percy
     ProxyCommand ssh -A -q pandaGW
     User         v.melnichenko
Host stanley
     Host         stanley
     ProxyCommand ssh -A -q pandaGW
     User         v.melnichenko
Host dustin
     Host         dustin
     ProxyCommand ssh -A -q pandaGW
     User         v.melnichenko
